
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    #map {
        height: 500px;
    }
</style>
<h2>Mapping</h2>
<form>
    Post Code :<input id="Text1" type="text" />
    <input id="Radio1" type="radio" name="type" value="OLG" checked="checked" />LSOA
    <input id="Radio2" type="radio" name="type" value="OMG" />MSOA
    <input id="Button1" type="button" value="Load" onclick="AreaFromPostCode()" />
    <input id="Button2" type="button" value="Load from Area Guide" onclick="AreaFromAreaGuide('')" @*formaction="/Mapping/AreaGuide"*@ />
    <div id="map"></div>
</form>
<script>

    var areaData = null;
    var map = L.map('map').setView([51.343, -0.18], 13);
    var tileoptions = {
        //subdomains: 'abcd',
        subdomains: '1234',
        attribution: 'Map data OpenStreetMaps and MapQuest',
        //attribution: "Map and data © <a href='http://www.openstreetmap.org'>OpenStreetMap</a> and contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
        //attribution: "Maps from <a href='http://www.openstreetmap.org/'>OpenStreetMap</a> and contributors <a href='http://creativecommons.org/licenses/by-sa/3.0/'>CC-BY-SA</a>",
        maxZoom: 17
    };
    //L.tileLayer('http://localhost/GISLeaflet/Tiles/{z}/{x}/{y}.png', tileoptions).addTo(map);
    L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', tileoptions).addTo(map);
    //L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', tileoptions).addTo(map);
    //L.tileLayer('http://{s}.tile2.opencyclemap.org/transport/{z}/{x}/{y}.png', tileoptions).addTo(map);

    $(document).ready(function () {
        //
        console.log("ready!");
    });

    function AreaFromPostCode() {
        $.ajax({
            type: "GET",
            crossDomain: true,
            url: 'http://mapit.mysociety.org/postcode/' + $('#Text1').val(),
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data["areas"], function (k, v) {
                    if (v.type == $("input:radio[name='type']:checked").val()) {
                        LoadAreaGuide(v.id).done(function (data) {
                            if (data.length != 0) {
                                MapAreaGuide(data);
                            } else {
                                MapArea(v.id,null)
                            }
                        });
                    }
                })
            }
        });
    }

    function AreaFromAreaGuide() {
        LoadAllAreaGuide().done(function (data) {
            MapAreaGuide(data);
        });
    }
 
    function LoadAreaGuide(areaID) {
        return $.ajax({
            type: "GET",
            crossDomain: true,
            dataType: "json",
            url: '/Mapping/LoadAreaGuide?areaID=' + areaID
            //url: '/Mapping/LoadAreaGuide/' + areaID
        }).always(function(){

        });
    }

    function LoadAllAreaGuide() {
        return $.ajax({
            type: "GET",
            crossDomain: true,
            dataType: "json",
            url: '/Mapping/LoadAllAreaGuide'
        }).always(function(){

        });
    }

    function MapAreaGuide(areaGuide) {
        for (area in areaGuide) {
            MapArea(areaGuide[area]["AreaID"], areaGuide[area]).done(function (data) {
                //data.bindPopup("I am here");
            });
        }
    }

    function MapArea(areaID,areaGuide) {
        return $.ajax({
            type: "GET",
            crossDomain: true,
            url: 'http://mapit.mysociety.org/area/' + areaID + '.geojson',
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var polygon = L.geoJson(data, {
                    style: function (feature) {
                        return { fill: "#ababab" };
                    }
                });
                if (areaGuide != null) {
                    var popupInfo = "Area Type: " + areaGuide["Type"].toString() + "<br>" +
                        "Rating: " + areaGuide["Rating"].toString() + "<br>" +
                        "Avg Price: " + areaGuide["AvgPrice"].toString() + "<br>" +
                        "Notes: " + areaGuide["Notes"].toString();
                    polygon.bindPopup(popupInfo).addTo(map);
                } else {
                    polygon.addTo(map);
                }
             }
        });
    }

    

</script>