
@{
    ViewBag.Title = "Mapping";
}
<link href="~/Content/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    #map {
        height: 500px;
    }
</style>
<h2>Mapping</h2>
Post Code :<input id="Text1" type="text" />
<input id="Radio1" type="radio" name="type" value="OLG" checked="checked" />LSOA
<input id="Radio2" type="radio" name="type" value="OMG"/>MSOA
<input id="Button1" type="button" value="Load" onclick="MapBase()"/>
<div id="map">
    
</div>
<script>

    var areaData = null;
    var map = L.map('map').setView([51.343, -0.18], 13);
    var tileoptions = {
        //subdomains: 'abcd',
        subdomains: '1234',
        attribution: 'Map data OpenStreetMaps and MapQuest',
        //attribution: "Map and data © <a href='http://www.openstreetmap.org'>OpenStreetMap</a> and contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
        //attribution: "Maps from <a href='http://www.openstreetmap.org/'>OpenStreetMap</a> and contributors <a href='http://creativecommons.org/licenses/by-sa/3.0/'>CC-BY-SA</a>",
        maxZoom: 17
    };
    //L.tileLayer('http://localhost/GISLeaflet/Tiles/{z}/{x}/{y}.png', tileoptions).addTo(map);
    L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', tileoptions).addTo(map);
    //L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', tileoptions).addTo(map);
    //L.tileLayer('http://{s}.tile2.opencyclemap.org/transport/{z}/{x}/{y}.png', tileoptions).addTo(map);

    function MapBase() {
        $.ajax({
            type: "GET",
            crossDomain: true,
            url: 'http://mapit.mysociety.org/postcode/' + $('#Text1').val(),
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                areaData = data;
                MapLSOA();
            }
        });
    }

    function MapLSOA() {
        var areas = areaData["areas"];
        var areaID = null;
        for (area in areas) {
            if (areas[area]["type"] == $("input:radio[name='type']:checked").val()) {
                areaID = areas[area]["id"] + '.geojson';
                break;
            }
        }

        //var geojsonLSOA = {
        //    "type": "Feature",
        //    "properties": { "LSOA11CD": "E01004137", "LSOA11NM": "Sutton 012A" },
        //    "geometry": { "type": "Polygon", "coordinates": [[[-0.188684481459484, 51.366110066575843], [-0.188054421228493, 51.365937079605978], [-0.188631524969185, 51.365852417501088], [-0.188591124972386, 51.365596940929478], [-0.186975562505217, 51.365670455249514], [-0.186611376026327, 51.365339652957118], [-0.186162384612798, 51.365442169758062], [-0.185458130379185, 51.363812872247337], [-0.185087339056764, 51.363807128411864], [-0.184577882720316, 51.363297524875591], [-0.185534078166074, 51.362900564786607], [-0.185888555272356, 51.363220483111839], [-0.186090081347616, 51.363014632162276], [-0.18621665176069, 51.363369437032553], [-0.1855270712609, 51.363359909465501], [-0.185427476881666, 51.363593318174722], [-0.18631704098889, 51.363412510417099], [-0.186422886825153, 51.36363346212061], [-0.187433373049194, 51.363203730469138], [-0.187612893233576, 51.363084648371192], [-0.187542426422963, 51.362819218854781], [-0.186869819445596, 51.362769296932875], [-0.187239766216358, 51.362317079715886], [-0.185912660649748, 51.362488997403041], [-0.186319618756024, 51.36171201952525], [-0.184889417309684, 51.361483954219885], [-0.18408310913359, 51.361400065454745], [-0.183997775136374, 51.361156282314532], [-0.188095330775104, 51.360346408118879], [-0.18924790057528, 51.360099512255722], [-0.189824290871567, 51.359997864432103], [-0.190191906172755, 51.360610728990359], [-0.189524812379253, 51.360863249647501], [-0.189716582648232, 51.361828428119871], [-0.189810860359778, 51.36182466921634], [-0.190418394607767, 51.363088000891743], [-0.190008016293757, 51.363848600030515], [-0.190845605983758, 51.363797276504869], [-0.191368053739467, 51.365121041108196], [-0.191939287836, 51.365011371501865], [-0.192504990749902, 51.365570433417531], [-0.192308775931146, 51.364943945203002], [-0.19376937720805, 51.364900278978965], [-0.194055513273704, 51.365475220108571], [-0.193614445847732, 51.366079173932029], [-0.192871981727506, 51.366328510280518], [-0.192579410843573, 51.366118298927773], [-0.192274033912274, 51.366801363198363], [-0.191441625614731, 51.366899952659608], [-0.190814981418183, 51.366860286557795], [-0.188695980065784, 51.366551549981715], [-0.188684481459484, 51.366110066575843]]] }
        //};
        var geojsonLSOA = null;
        $.ajax({
            type: "GET",
            crossDomain: true,
            url: 'http://mapit.mysociety.org/area/' + areaID,
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                geojsonLSOA = data;
                L.geoJson(geojsonLSOA, {
                    style: function (feature) {
                        return { fill: "#ababab" };
                    }
                }).addTo(map);
            }
        });
    }
    
</script>